# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
src/main/kotlin/com/ironcorelabs/ironcore_alloy/ironcore_alloy.kt
src/main/resources/libironcore_alloy.*
gradle.properties
