# Ignore Gradle project-specific cache directory
.gradle
# Ignore Gradle build output directory
build
src/main/kotlin/com/ironcorelabs/cloaked_ai/cloaked_ai.kt
src/main/resources/libcloaked_ai.*
gradle.properties
