name: Integration test

on:
  push:
    branches:
      - main
  pull_request:
  workflow_dispatch:

jobs:
  integration_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-java@v5
        with:
          distribution: "temurin"
          java-version: "21"
      - name: Start the TSP
        uses: IronCoreLabs/workflows/.github/actions/start-tsp@start-tsp-v1
        with:
          gcloud-auth: ${{ secrets.GCLOUD_AUTH }}
          env-file-path: tests/demo-tsp.conf
      - name: Install hatch
        run: pipx install hatch
      - name: integration test
        run: cargo test --features integration_tests -- --nocapture
